{% extends "rmabase.html" %}

{% block title %} RMA {% endblock %}

{% block body %}
<h3>

    Repair 2</h3>

  <p>  RMA ID:   {{rma_id}} </br>
    IMEI:     {{imei}}  </br>
    DEVICE MODEL: {{device}}

     <h4> SELECT REPAIR</h4> </br></br>

      {% for result in results %}

      {{ result.part_name}} </br>


      {% endfor %}
</p>


<form class="form" method="post" action="repair2done">

    <ul>
        <li> Replace Parts</li>
        Please select the parts you have replaced today

        <select class="form-control" name="part_type">
            <option value="1">Battery</option>
            <option value="2">Speakers</option>
            <option value="3">Microphone</option>
            <option value="4">LCD</option>
            <option value="5">Jack</option>
            <option value="1">Button</option>
            <option value="1">Camera</option>
            <option value="1">Sensor</option>

        </select>

        <li>Other Repair</li>
        <textarea class="form-control" name="repair">Enter other repairs</textarea>

    </ul>
    <button class="btn btn-danger" type="submit">Finish Repair</button>

</form>
{% endblock %}