{% extends "rmabase.html" %}

{% block title %} RMA {% endblock %}

{% block body %}


<h1>Device History</h1>

<table class="tabe table-striped table-bordered">

    <thead>
    <th>Purchase date</th>
    <th>Device IMEI</th>
    <th>Device model</th>
    <th>Cost</th>
    <th>Inspection Comments</th>
    <th>Failcard</th>
    <th>Replaced Parts</th>
    <th>Repair 1</th>
    <th>Repair 1 Date</th>
    <th> Repair 1 by</th>
    <th>Repair 2</th>

    <th>Repair 2 date</th>
    <th>repair 2 by</th>
   {# <td>Device Grading</td>
    <th>Device Grading Date</th>
    <td>Graded By</td>#}
    <th>Previous RMAs</th>
    <th>Create RMA</th>




    </thead>
    {% for result in results %}
    <tr>
        <td>{{result.date}}</td>
        <td>{{result.IMEI}}</td>
        <td>{{result.device_model}}</td>
        <td>{{result.offer}}</td>
        <td>{{result.device_comments}}</td>
        <td>Failcard</td>
        <td>battery</td>
        <td>replace battery</td>
        <td>24/12/2018</td>
       {# <td>B</td>
        <td>22/12/2018e</td>
        <td>User id 5</td>#}
        <td>User 4</td>
        <td>n/a</td>
        <td>n/a</td>
        <td>n/a</td>
        <td>0</td>
        <td><a href="testorder">Create RMA</a></td></td>
    </tr>

     {% endfor %}
</table>

{% endblock %}