{% extends "rebuybaselocal.html" %}
{#% extends "rebuybase.html" %#}

{% block title %} Rebuy {% endblock %}

{% block body %}
<h1>Accept Offer</h1>
Please accept or refuse our offer below

<table class="table table-striped table-bordered">
    <tr>
    <td>Device Model</td>
    <td>device Storage</td>
    <td>Device Connection</td>
    <td>Device Condition</td>
    <td>Device Comments</td>
    <td>Device Offer</td>
    </tr>

    {% for result in results %}

    <tr>
        <td>{{result.device_model}}</td>
        <td>{{result.storage_type_name}}</td>
        <td>{{result.connection_type_name}}</td>
        <td>{{result.condition_name}}</td>
        <td>{{result.device_comments}}</td>
        <td>{{result.order_quote}}</td>



    </tr>
{% endfor %}

</table>

<form class ="form" action="/rebuy/confirm" method="POST">


    <button class="btn-success btn-lg" name="accept_button" value="Accept" />Accept</button></form>
<form class ="form" action="/rebuy/refuseoptions" method="POST">
    <button class="btn-danger btn-sm" name="refuse_button" value="Refuse" />Refuse</button></form>
</form>
{%endblock %}


